{% extends 'base.html' %}
{% block content %}
<h2>Registrar</h2>
<form method="POST" class="col-md-4">
  <input type="text" name="username" class="form-control mb-2" placeholder="Usuário" required>
  <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
  <input type="password" name="password" class="form-control mb-2" placeholder="Senha" required>
  <button class="btn btn-success">Registrar</button>
</form>
<a href="{{ url_for('auth.login') }}">Já tem conta?</a>
{% endblock %}
